body{
    background-color: whitesmoke;
}

h1{
    font-family:'Krona One', serif;
    font-size: 4em;
}

h2{
    font-family:'Krona One', serif;
    font-size: 2em;
}

h6{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.2em;
}

p{
    font-family:'Krona One', serif;
    font-size: 1em;
}

hr{
    width: 40%;
    display: inline;
}

a{
    padding: 12px;
}

/*Unvisited link*/
a:link{
    font-family:'Krona One', serif;
    font-size: 1em;
    color: black;
    text-decoration: none;
}

/*Visited link*/
a:visited{
    font-family:'Krona One', serif;
    font-size: 1em;
    color: black;
    text-decoration: none;
}

a:hover{
    font-weight: bolder;
    background-color: greenyellow;
}

.top-container{
    border-style: solid;
    border-color: black;
    border-width: 4px;
    padding-left: 40px;
}

ul{
    font-family: Arial, Helvetica, sans-serif;
}

ol{
    font-family: Arial, Helvetica, sans-serif;

}

.recipes-container{
    padding: 40px;
    border-style: solid;
    border-color: black;
    border-width: 4px;
    border-top: none;
}

.recipe-hero{
    width: 50%;
}

.recipe-body{
    padding-left: 5%;
    padding-bottom: 5%;
}


